<%= turbo_stream_from current_company, "quotes" %>

<div class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <div class="form-outline mb-4">
    <%= form_with url: "", method: :get, class:"d-flex col-12", data: { turbo_frame: "quotes", turbo_action: "advance"}  do |f| %>
        <%= f.search_field :search, value: params[:search], class: "form-control col-12" , placeholder: "Search Quote"%>
    <% end %>
  </div>
  
  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render "quotes/empty_state" %>
    <%= render @quotes %>
  <% end %>
</div>